@font-face {
    font-family: HANDVETICA;
    src: url('../fonts/font/HANDVETICA.TTF');
}

body{
   background-image: url(../images/About/Background.jpg);


}
.homeContainer #pinguens{
     position: sticky;
    left: 50%;
   top: 60%;
    width: 50%;
}
.homeContainer #about_the_gablia{
    position: sticky;
    margin-left: 1%;
   
    width: 50%;
}
 .about_text {

     width: 90%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
       /*white-space: nowrap; /* Keeps the content on a single line */

  margin: 3% auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}
