@font-face {
    font-family: HANDVETICA;
    src: url('../fonts/font/HANDVETICA.TTF');
}
body{
	background-image: url(../images/About/Background.jpg);
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;
}
h1{
	 font-family: HANDVETICA;
	 color: black;
	 size: 400%;

}
.circle-image{
	
}
.circle-image:hover{
	
 box-shadow: 6px 6px 20px rgba(0, 0, 0, .7);
    transform: scale(1.02);
    
}

/*Start Media querys for responsive Mode*/

@media only screen and (max-width: 767px) {

    html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

}
/*End Media querys for responsive Mode*/