@font-face 
{
    font-family: HANDVETICA;
    src: url('../fonts/font/HANDVETICA.TTF');
}

body
{
    background-image: url("Background.jpg");
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
     font-family: HANDVETICA;
}
div.c-wrapper
{
    width: 60%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img
{
width: 80%; /* use this, or not */
margin: auto;
}
.card-body
{
    background: #232f3d;
}
.card
{
    margin-bottom: 20px;
}
.colors
{
    font-size: 20px;
    color:darkslateblue;
}