@font-face {
    font-family: HANDVETICA;
    src: url('../fonts/font/HANDVETICA.TTF');
}

body {
    background-image: url("Background.jpg");
    width: 100%;
    height: auto;
}

h1 {
    color: white;
    font-family: HANDVETICA, serif;
    font-size: 400%;
}

p {
    font-family: HANDVETICA, serif;
    font-size: 20px;
    margin-top: 30px;
    color: darkslateblue;
}
