@font-face {
    font-family: HANDVETICA;
    src: url('/fonts/font/HANDVETICA.TTF');
}

.home{

    width: 98.7%;
    height: 660px;
    background-image: url(../images/About/Background.jpg);

}

.osc{
    margin-top: 1.5%;
}

.pinguen{
    width: 80%;
    margin-top: -130%;
    position: absolute;;

}
.hello{
    width: 180%;
    position: relative;
    margin-top: -460%;
}
#pinguen>div { visibility: hidden; }
#pinguen:hover>div { visibility: visible; }


.rocket{
    margin-top: 60px;
    height: 260px;
    background-image: url("../images/22070253_525917584415520_1959156027_o.png");
    background-size: 100% 100%;
    animation: shaking 10s infinite ease-in-out;
}

.message{
    background-image: url("../images/rectanglespeechthought.png");
    background-size: 100% 100%;
    width: 300px;
    height: 140px;
    text-align: center;
    font-size: 19px;
    font-family:cursive;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 50px;
    margin-top: 5px;
    position: absolute;
}

.message p{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Julee';font-size: 22px;
    color:black
}

.button{
    font-family: 'Frijole';
    text-transform: uppercase;
    font-size:22px;
    width: 240px;
    height: 60px;
    border-radius: 80px;
    line-height: 60px;
    text-align: center;
    border:3px solid #fff;
    display: block;
    text-decoration: none;
    margin-top: 35px;
    color:#fff;
    position: relative;
    overflow: hidden;
}



.button:hover{
    color:orange;
    background-color: #fff;
    border-color: gold;
    text-decoration: none;
    line-height: 62px;
}


@keyframes shaking{

    25%{
        transform: rotate(-5deg)
    }

    75%{
        transform: rotate(5deg)

    }
}

/* added recently*/

body{
    background-image: url(../images/About/Background.jpg);
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}
.homeContainer #pinguens{
    position: sticky;
    left: 50%;
    top: 60%;
    width: 50%;
}
.homeContainer #about_the_gablia{
    position: sticky;
    margin-left: 1%;
    font-family: HANDVETICA;
    font-size: 400%;
    color: white;

}
.about_text {

    width: 90%;
    font-family: HANDVETICA;
    font-size: 140%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*white-space: nowrap; /* Keeps the content on a single line */

    margin: 3% auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 90% }
}
span{
    font-size: 150%;
}