@font-face {
    font-family: HANDVETICA;
    src: url('/fonts/font/HANDVETICA.TTF');
}

.home{

	width: 98.7%;
	height: 660px;
	background-image: url("Background.jpg");

}

.osc{

margin-top: 8%;

}

.pinguen{
width: 80%;
margin-top: -130%;
position: absolute;;

}
.hello{
	width: 180%;
	position: relative;
	margin-top: -480%;
}
#pinguen>div { visibility: hidden; }
#pinguen:hover>div { visibility: visible; }

.arrow{
	margin-top: 3%;
	margin-left: 3%;

}
.stars{

	width: 100%;
}
.rocket{
	width: 45%;
	position: absolute;
	top: 15%;
	left: 20%;
	transition: 2s ease-in-out;

}

.rocket:hover{
  transform: translateY(-300%) ;
}


.space{

	position: relative;
 	transition: 1s ease-in-out;
    animation: starAnim 2s infinite;
    top: -90px;

}
@keyframes starAnim {
    0%   {opacity: 0.5;}
    25%  {opacity: 1;}
    50%   {opacity: 0.5;}
    100%  {opacity: 1;}

   }
