@font-face {
    font-family: HANDVETICA;
    src: url('/fonts/font/HANDVETICA.TTF');
}

body{
    background-image: url("Background.jpg");
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*first div*/
#div-pos1{
    background-color: #232f3d;
}

.text-pos1{
    text-align: center;
    font-family: HANDVETICA;
}

.text-pos1 > a{
    color: whitesmoke;
}
/*end first div*/

/*second div*/
#div-pos2{
    background-color: #232f3d;
}

.text-pos2{
    text-align: center;
}

.text-pos2 > a{
    color: whitesmoke;
}
/*end second div*/

/*third div*/
#div-pos3{
    background-color: #232f3d;
}

.text-pos3{
    text-align: center;
}

.text-pos3 > a{
    color: whitesmoke;
}
/*end third div*/
