@font-face {
    font-family: HANDVETICA;
    src: url('/fonts/font/HANDVETICA.TTF');
}

body{
    background-image: url(../images/About/Background.jpg);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: HANDVETICA;
}
.description
{
    font-size:20px;
    color:darkslateblue;
}
div img
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
h1
{
	font-family: HANDVETICA;
	font-size: 400%;
	color:white;
}
h5
{
	font-family: HANDVETICA;
	font-size: 200%;
	color:darkslateblue;
}

/*first div*/
#div-pos1{
    background-color: #232f3d;
}

.text-pos1{
    text-align: center;
    font-family: HANDVETICA;
}

.text-pos1 > a{
    color: whitesmoke;
}
/*end first div*/

/*second div*/
#div-pos2{
    background-color: #232f3d;
}

.text-pos2{
    text-align: center;
}

.text-pos2 > a{
    color: whitesmoke;
}
/*end second div*/

/*third div*/
#div-pos3{
    background-color: #232f3d;
}

.text-pos3{
    text-align: center;
}

.text-pos3 > a{
    color: whitesmoke;
}
/*end third div*/


/*Start Media querys for responsive Mode*/

@media only screen and (max-width: 767px) {

    html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    }

}
/*End Media querys for responsive Mode*/