@font-face {
    font-family: HANDVETICA;
    src: url('/fonts/font/HANDVETICA.TTF');
}

body{
    background-image: url(../images/About/Background.jpg);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: HANDVETICA;
}
div img
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
#desc
{
    font-size:20px;
    color:darkslateblue;
}
h1
{
    font-size: 400%;
    color:white;
}
.proj1
{
    font-size: 300%;
     color:white;
}
.imgs
{
     
}
h2
{
    font-size: 300%;
}
p
{
    font-size: 25px;
}
.colors
{
    font-size: 20px;
    color:darkslateblue;
}