fieldset.scheduler-border {
    border: 2px solid #333 !important;
    padding: 0px 10px 10px 10px !important;
    border-bottom: none;
    border-radius: 10px;
    -webkit-box-shadow:  2px 3px 10px  #333;
    box-shadow:  2px 3px 10px  #333;
    margin:auto !important;

}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto !important;
    border: none;
    color:#FFF;
    font-size: 22px !important;

}
.des h5{
    color: #333;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 5px;
}
.des > p{
    color: #FFF;
    padding: 20px 30px;

}

.dead{
    float: left;
    color: #FF651A;
    font-weight: 800;
    padding: 15px;
    background: #333;
    border-radius: 10px;
}
fieldset button , fieldset a {
    border: 2px solid #FF651A;
    color: #FE7701;
    font-size: 16px;
    padding: 12px 20px;
    float: right;
    border-radius: 10px;
    background: #333;
}

fieldset button:hover ,fieldset a:hover {
    text-decoration: none;
    background: #FF651A;
    transition: .5s;
    color: #FFF;
    border: 2px solid #333;
    cursor: pointer;
}