/*Start Footer*/


.footer {
    background-color: #232f3d;
    bottom: 0;
    color: white;
    padding: 30px 0 30px;
    width: 100%;
    margin-top: 100px !important;
    
}
div.footer{
    margin-top: 100px !important;
}

.footer h1 {
    font-family: "lato", sans-serif;
    font-size: 1.5em;
}

.footer p {
    font-size: 0.9em;
    color: #f2f2f2;
}

.footer a {
    color: #f2f2f2;

}

/*End Footer*/
