 .nav , small_nav{
    padding-left: 5%;
    font-size: 13px;
}

.navigation {
    margin : 0;
    padding : 0;
    list-style-type : none;
    
   }
.navigation li:first-child{
    background: #286090;
    padding: 10px 18px;
}
.navigation li:nth-child(even){
    
    padding: 0px;
    cursor: default;
}
.navigation li{

        display: inline-block;
        cursor: pointer;
        color: #FFF;
        padding: 10px 10px;
        border-radius: 5px;    
    }

.navigation li:hover{
    background: #EE7C00;
}
.nav a ,small_nav a { text-decoration : none;
    
   color: #FFFFFF;
}
.nav a:hover ,small_nav a:hover { text-decoration : none;}



.dropbtn {
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.dropdown {
    position: relative;
    display: inline-block;
        }

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #286090;color: #FFF;
    border-radius: 5px;
    padding-left: 30px;
    transition: .2s;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #EE7C00;
}
.contact_us{
    
    float: right;
}
.contact{
    display: none;
    position: absolute;
    right: 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.fa-bars{
    display: none;
    font-size:35px;
    margin:10px 50px;
    color: #FFF;
    float: right;
    cursor: pointer;
}

@media screen and (max-width:1007px){
    .fa-bars{
        display: block;
    }
    .nav{
        display: none;
    }
    .small_nav{
        display: block;
    }
    .small_nav{
        padding-left: 15%;
    }
    
    .navigation {
        margin : 0;
        padding : 0;
        list-style-type : none;

   }
    .navigation li:first-child{

        padding: 10px 18px;
    }
    
    .navigation li{

            display: block;
            cursor: pointer;
            margin-bottom: 15px;
            color: #FFF;
            padding: 10px 10px;
            border-radius: 5px;    
        }
    
    .navigation li:hover{
        background: #232F3D;
    }
    
    .dropdown-content{
        display: none;
        top:10px;
        position: relative;
        background-color: #232F3D;
        min-width: 220px;
        box-shadow: none;
        
    }
    .dropdown-content a{
        color: #f1f1f1;
        
    }
    

    }
@media screen and (max-width: 480px){
    
    .small_nav{
        font-size: 12px;
    }
    .contact_us{
        font-size: 11px;
    }
}
@media screen and (max-width: 320px){
    
    .small_nav{
        font-size: 11px;
    }
    .contact_us{
        font-size: 11px;
    }
}   
